@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
  }

  * {
    @apply border-slate-200 outline-blue-500/50;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
